<div class="tickets">
<div class="ticket" *ngFor="let ticket of tickets">
  <div class="side-buy">
      <img src="assets/img/title.svg" alt="title" />
      <div class="btn-buy">
          <span class="price">Купить</span> <br />
          <span class="price"> за: {{ticket.price}}
            <!-- {this.calcCur(this.props.currency, price)} {this.changeCur(this.props.currency)} -->
          </span>
      </div>
  </div>
  <div class="transp-side">
      <div class="transp-from">
          <div class="time">
            <!-- {departure_time} -->
          </div>
          <div class="sity">
            {{ ticket.name }}
            <!-- {origin},{origin_name} -->
          </div>
          <div class="date">
            <!-- {dateFormat(departure_date, "d mmm, yyyy, ddd")} -->
          </div>
      </div>
      <div class="amount-transp">
          <span>
            {{ ticket.stops }}
            <!-- {stops === 0 ? 'без пересадок' : stops === 1 ? '1 пересадкa' : stops + ' пересадки'} -->
          </span>
          <div class="underline">
              <img class="plane" src="assets/img/plane.svg" alt="plane" />
          </div>
      </div>
      <div class="transp-to">
          <div class="time">
            <!-- {arrival_time} -->
          </div>
          <div class="sity">
            <!-- {destination_name},{destination} -->
          </div>
          <div class="date">
            <!-- {dateFormat(arrival_date, "d mmm, yyyy, ddd")} -->
          </div>
      </div>
  </div>
</div>
</div>
