<div class="tickets">
<div class="ticket" *ngFor="let ticket of tickets">
  <div class="side-buy">
      <img src="assets/img/title.svg" alt="title" />
      <div class="btn-buy">
          <span class="price">Купить</span> <br />
          <span class="price"> за: {{ calcCur(currency, ticket.price) }} {{ curSymb }}
          </span>
      </div>
  </div>
  <div class="transp-side">
      <div class="transp-from">
          <div class="time">
            {{ ticket.departure_time }}
          </div>
          <div class="sity">
            {{ ticket.origin_name }}
            <!-- {origin},{origin_name} -->
          </div>
          <div class="date">
              {{ ticket.departure_date | date }}
            <!-- {dateFormat(departure_date, "d mmm, yyyy, ddd")} -->
          </div>
      </div>
      <div class="amount-transp">
          <span>
            {{ ticket.stops === 0 ? 'без пересадок' : ticket.stops === 1 ? '1 пересадкa' : ticket.stops + ' пересадки'}}
          </span>
          <div class="underline">
              <img class="plane" src="assets/img/plane.svg" alt="plane" />
          </div>
      </div>
      <div class="transp-to">
          <div class="time">
            {{ ticket.arrival_time }}
          </div>
          <div class="sity">
            {{ ticket.destination_name }}
            <!-- {destination_name},{destination} -->
          </div>
          <div class="date">
            {{ ticket.arrival_date | date }}
            <!-- {dateFormat(arrival_date, "d mmm, yyyy, ddd")} -->
          </div>
      </div>
  </div>
</div>
</div>
